<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>サンプル</title>
</head>
<body>
  <div id="app">
    <p>ご注文をお選びください: {{ selection }}</p>
    <label>
      <input type="checkbox" v-model="answer" value="ケーキ">ケーキ
    </label>
    <label>
      <input type="checkbox" v-model="answer" value="紅茶">紅茶
    </label>
    <label>
      <input type="checkbox" v-model="answer" value="コーヒー">コーヒー
    </label>
  </div>
  <script src="https://jp.vuejs.org/js/vue.js"></script>
  <script src="main02_checkboxes.js"></script>
</body>
</html>